
body {
    font: 1.2em/1.62 sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #000000;
}

@media all and (max-width: 1000px) {
    body {
        font-size: 0.8em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #000000;
    line-height: 1.2;
}

a {
    color: #3273dc;
}

.sale {
    font-style: italic;
    color: #b80b92
}

nav a {
    margin-right: 10px;
}

input {
    font-size: 1.0em;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
}

td, tr, th {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    text-align: left;
}

img {
    max-width: 100%;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

#footer {
    padding: 25px;
    text-align: center;
    font-family: serif;
    font-style: italic;
}

#sitetitle {
    font-style: italic;
}

.graphwrapper {
    width: 960px;
    height: 600px;
    margin: 25px 0;
    overflow: hidden;
}

.graph {
    width: 960px !important;
    height: 600px !important;
}

@media all and (max-width: 1000px) {
    .graphwrapper {
        width: calc(100vw - 40px);
        height: calc((100vw - 40px) * 0.625);
    }

    .graph {
        transform-origin: top left;
        transform: scale(calc((var(--vw) - 40) / 960));
    }
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

h1 .description {
    font-size: x-large;
}

td .description, li .description {
    font-size: small;
}
