<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>{% block title %}Argostimè{% endblock %}</title>
    {% block script %}{% endblock %}
    {% endblock %}
    <meta property="og:title" content="{% block og_title %}Argostimè{% endblock %}" />
    <meta property="og:description" content="{% block description %}Hou prijzen in de gaten.{% endblock %}" />
</head>
<body>
    <a href="/"><h1 id="sitetitle">Argostimè</h1></a>

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>


    <div id="footer">
    {% block footer %}
    <small>
        Copyright (c) 2022 Martijn en anderen. De <a href="https://github.com/m-rtijn/argostime">bronbestanden</a> van deze website zijn beschikbaar onder de voorwaarden van de <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>.
    </small>
    <br>
    <small>
        <pre>versie {{ config["GIT_CURRENT_COMMIT"] }}</pre>
    </small>
    {% endblock %}
    </div>
</body>
</html>
