{% extends "base.html.jinja" %}
{% block content %}
<p>Argostimè houdt voor jou prijzen van winkels bij, zodat je weet of iets echt korting heeft, of dat het slechts schijn is.</p>

<p>Vul de URL in om een product toe te voegen aan de website:</p>
<form action="" method="post">
    <input type="text" name="url" size="25"></input>
    <input type="submit" name="submit" value="Toevoegen"></input>
</form>

<p>Beschikbare webwinkels:</p>
<nav>
<b><a href="/all_offers">Alle producten</a></b>
{% for shop in shops %}
<a href="/shop/{{ shop.id }}">{{ shop.name|e }}</a>
{% endfor %}
</nav>

<p>Vandaag in de aanbieding:</p>
<ul>
{% for price in discounts %}
<li><a href="product/{{ price.product_offer.product.product_code |e }}">
    {{ price.product_offer.product.name|e }}{% if price.product_offer.product.description %} <span class="description">{{ price.product_offer.product.description }}</span>{% endif %}</a></li>
{% endfor %}
</ul>

<p>Laatst toegevoegd:</p>
<ul>
{% for product in products %}
<li><a href="product/{{ product.product_code|e }}">
    {{ product.name|e }}{% if product.description %} <span class="description">{{ product.description }}</span>{% endif %}</a></li>
{% endfor %}
</ul>
{% endblock %}
