{% extends "base.html.jinja" %}
{% block title %}{{ p.name|e }} | {{ super() }}{% endblock %}
{% block og_title %}{{ p.name|e }} | {{ super() }}{% endblock %}
{% block description %}Bekijk de prijsontwikkeling van {{ p.name|e }} op Argostimè{% endblock %}
{% block script %}<script src="/static/echarts.js"></script>{% endblock %}
{% block content %}
<h1>{{ p.name|e }}{% if p.description %} <span class="description">{{ p.description }}</span>{% endif %}</h1>

{% for offer in offers %}
<h3>Verkoper: <a href="/shop/{{ offer.webshop.id }}">{{ offer.webshop.name|e }}</a> (<a target="_blank" href="{{ offer.url|e }}">Bezoek website</a>)</h3>
<table>
<tr>
    <th>Huidige prijs</th>
    <th>Gemiddelde prijs</th>
    <th>Laagste prijs</th>
    <th>Hoogste prijs</th>
    <th>Variatie</th>
    <th>Bijgehouden sinds</th>
</tr>
<tr>
{% if offer.get_current_price().on_sale %}
    <td class="sale">Korting! {{ "€%.2f" | format(offer.get_current_price().discount_price)  }} ({{ offer.get_current_price().datetime.strftime("%Y-%m-%d") }})</td>
{% else %}
    <td>{{ "€%.2f" | format(offer.get_current_price().normal_price) }} ({{ offer.get_current_price().datetime.strftime("%Y-%m-%d") }})</td>
{% endif %}
    <td>{{ "€%.2f" | format(offer.average_price) }}</td>
    <td>{{ "€%.2f" | format(offer.minimum_price) }}</td>
    <td>{{ "€%.2f" | format(offer.maximum_price) }}</td>
    <td>{{ "%.2f" | format(offer.get_price_standard_deviation()) }}</td>
    <td>{{ offer.time_added.strftime("%Y-%m-%d") }}</td>
</tr>
</table>

<div class="graphwrapper">
    <div class="graph" id="graph-{{ offer.id }}" style="width: 100%;height:600px;"></div>
</div>
{% endfor %}
<script src="/static/graphs.js"></script>
{% endblock %}
