{% extends "base.html.jinja" %}
{% block title %}{{ s.name|e }} | {{ super() }}{% endblock %}
{% block script %}<script src="/static/table-sort.js"></script>{% endblock %}
{% block content %}

<h1>{{ s.name|e }}</h1>

<table class="table-sort table-arrows">
<tr>
    <th>Product</th>
    <th>Huidige prijs</th>
    <th>Gemiddelde prijs</th>
    <th>Laagste prijs</th>
    <th>Hoogste prijs</th>
{% if show_variance %}
    <th>Variatie</th>
{% endif %}
    <th>Bijgehouden sinds</th>
    <th>Website verkoper</th>
</tr>
{% for offer in offers %}
<tr>
    <td><a href="/product/{{ offer.product.product_code|e }}">
        {{ offer.product.name|e }}{% if offer.product.description %} <span class="description">{{ offer.product.description }}</span>{% endif %}</a></td>
{% if current_prices[offer].on_sale %}
    <td class="sale">{{ "€%.2f" | format(current_prices[offer].discount_price)  }} ({{ current_prices[offer].datetime.strftime("%Y-%m-%d") }}) Korting!</td>
{% elif current_prices[offer].normal_price == -1 %}
    <td>Geen actuele prijs beschikbaar ({{ current_prices[offer].datetime.strftime("%Y-%m-%d") }})</td>
{% else %}
    <td>{{ "€%.2f" | format(current_prices[offer].normal_price) }} ({{ current_prices[offer].datetime.strftime("%Y-%m-%d") }})</td>
{% endif %}
    <td>{{ "€%.2f" | format(offer.average_price) }}</td>
    <td>{{ "€%.2f" | format(offer.minimum_price) }}</td>
    <td>{{ "€%.2f" | format(offer.maximum_price) }}</td>
{% if show_variance %}
    <td>{{ "%.2f" | format(offer.get_price_standard_deviation()) }}</td>
{% endif %}
    <td>{{ offer.time_added.strftime("%Y-%m-%d") }}</td>
    <td><a target="_blank" href="{{ offer.url }}">{{ offer.webshop.hostname }}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
